<div ng-controller="AppsCtrl">
  <accordion close-others="true">
    <accordion-group ng-repeat="(k,v) in idx.apps" heading="{{v.name}} ( {{v.count}} )" is-open="status.isFirstOpen">
      <table class="table table-condensed">
        <tr ng-repeat="code in v.messages" ng-class="{'bg-danger': v.errors}">
            <td><a class="post-link" ng-href="#/message/{{code}}">{{ code }}: {{ idx.messages[code].name}}</a></td>
            <td ng-class="{'bg-danger': idx.messages[code].errors}">{{idx.messages[code].errors}}</td>
            <td class="text-right">
          <a ng-repeat="scope in idx.messages[code].scopes" ng-href="#scopes/{{scope}}" class="badge ">{{scope}}</a>&nbsp;
            </td>
        </tr>
    </table>
    </accordion-group>
  </accordion>
</div>
