<div class="container" ng-controller="MsgListCtrl">
  <!-- <div id="msgGrid" ui-grid="gridOptions" ui-grid-edit class="grid"></div> -->
    <table class="table table-condensed">
        <tr ng-repeat="(k,v) in idx.dicts | orderBy: [v.code]">
            <td><a class="post-link" ng-href="#/dict/{{k}}">{{ k }}: {{ v.name }}</a></td>
        <td ng-class="{'bg-danger': v.errors}">{{v.errors}}</td>

            <td class="text-right">
                <a class="badge">{{v.source}}</a>



            </td>
        </tr>
    </table>
</div>

