<div ng-controller="MainCtrl">
  <div class="row"><span>&nbsp;</span></div>
  <div class="row"><span>&nbsp;</span></div>

  <div class="row">

      <div class="col-md-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h4 class="panel-title">消息接口</h4>
      </div>
      <div class="panel-body">
        <h2><a ng-href="#/message">{{msg_count}}</a></h2>
      </div></div>
      </div>
          <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
        <h4 class="panel-title">业务模块</h4>
      </div>
      <div class="panel-body">
        <h2><a ng-href="#/scopes">{{scope_count}}</a></h2>
      </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
        <div class="panel-heading">
        <h4 class="panel-title">应用系统</h4>
      </div>
      <div class="panel-body">
        <h2><a ng-href="#/applications">{{app_count}}</a></h2>
      </div></div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
        <div class="panel-heading">
        <h4 class="panel-title">数据字典</h4>
      </div>
      <div class="panel-body">
        <h2><a ng-href="#/dict">{{dict_count}}</a></h2>
      </div></div></div>

    </div>

    <div class="row"><span>&nbsp;</span></div>
    <div class="row"><span>&nbsp;</span></div>
    <div class="row"><span>&nbsp;</span></div>
      <div class="row">
          <ul>
            <li>
              <span class="glyphicon glyphicon-cloud-download"></span><a href="#">下载 Excel 版本</a>(TODO)
            </li>
            <li>
              <span class="glyphicon glyphicon-cloud-download"></span><a href="#">下载 pdf 版本</a>(TODO)
            </li>
          </ul>
    </div>

</div>
