<div ng-controller="MainCtrl">
  <div class="row"><span>&nbsp;</span></div>
  <div class="row"><span>&nbsp;</span></div>  <div class="row"><table class="table table-bordered">
      <thead>
<tr>
  <th></th>
  <th>交易</th>
  <th>证券交易</th>
  <th>大宗交易</th>
  <th>交易</th>
  <th>结算</th>
  <th>信息披露</th>
  <th>监管报送</th>
  <th>行业间</th>
  <th>客户</th>
  <th>其他</th>
</tr>
    </thead>
    <tbody>
      <tr>
<td>规划</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>      </tr>      <tr>
<td>控制</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>      </tr>      <tr>
<td>执行</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>      </tr><tr>
<td></td><td></td>
  <td>
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">14</span><a ng-href="#/bizservice/1">股票交易</a></li>
      <li class="list-group-item"><span class="badge">14</span><a ng-href="#/bizservice/2">封闭式基金交易</a></li>
      <li class="list-group-item"><span class="badge">14</span><a ng-href="#/bizservice/3">债券交易</a><br></li>
    </ul>
    </td><td>  大宗交易<br>  跨境ETF交易<br></td><td>  证券交易<br>  大宗交易<br>  固定收益交易<br>  期货交易<br>  股转交易<br>  转融通交易<br></td><td>  证券结算<br>  开放式基金结算<br>  期货结算<br>  结算支付<br>  担保品管理<br>  转融通<br></td><td>  证券行情<br>  期货行情<br>  港股行情<br></td><td></td><td></td><td></td><td></td>    </tr></tbody>
  </table>    </div>    <div class="row"><span>&nbsp;</span></div>

    <div class="row"><span>&nbsp;</span></div>
    <div class="row"><span>&nbsp;</span></div>
      <div class="row">

    </div></div>
